.list{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.burger{
  display: none;
}

@media (max-width: 768px) {
    .list{
      display: none;
    }

    .burger{
      display: block;
    }
  }