.product {
  width: calc(33.333% - 30px);
  text-align: center;
  position: relative;
  padding-bottom: 15px;
}

.product::before {
  content: "";
  background: #f3f4f5;
  top: 19.5%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.product-title {
  margin-top: 20px;
}

.product-title button {
  background: #930077;
  color: #fff;
  padding: 10px 20px;
  border: none;
}

@media(max-width:768px){
  .product{
    width: 100%;
  }
}