form input {
  display: flex;
  flex-wrap: wrap;
  padding: 3px 10px;
}

form button {
  background-color: #f45d96;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  margin: 10px 0;
}
