#coat-area{
    padding: 100px 0;
    height: 700px;
}

.coat{
    display: flex;
}

.coat-img img{
    width: 100%;
}

.coat-title{
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.coat-title h1{
    font-size: 70px;
}

.coat-title button{
    background: black;
    color: white;
    padding: 9px 20px;
    border: none;
}

@media(max-width:768px){
    .coat-img,.coat-title{
        width: 100%;
    }
    .coat{
    display: flex;
    flex-wrap: wrap;
}
}