.collections{
    display: flex;
    flex-wrap: wrap;
}

.collection{
    width: 33.3%;
}

.collection img{
    width: 300px;
}

.collec-title{
    text-align: center;
}

.price{
    font-size: 25px;
}

.price span{
    color: gray;
    text-decoration: line-through;
}
.collec{
    width: 100%;
}

@media(max-width:768px){
    .collection{
        width: 100%;
    }
}