form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
}

form button{
background-color: #abd373;
width: 40%;
margin-top: 30px;
padding: 10px;
color: white;
border: 1px solid #abd373;
border-radius: 15px;
}