.price{
    
    color: #abd373;
    font-size: 20px;
}

.product-btn{
    background: #abd373;
    border: 1px solid #abd373;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.star{
    color: #ffe24d;
    display: flex;
    gap: 7px;
}

.product-btn:hover{
    background-color: inherit;
    border: 1px solid #abd373;
    transition: all 0.4s;
    color: #abd373;
}