.about{
    display: flex;
    flex-wrap: wrap;
}

.about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.about-img{
    width: 60%;
}
.about-img img{
    width: 600px;
}