#hero-area {
    height: 95vh;
}

.hero {
    display: flex;
    flex-wrap: wrap;
}

.hero-title {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title h1 {
    font-size: 70px;
    text-transform: uppercase;
}

.hero-title h4 {
    font-size: 16px;
}

.hero span {
    font-size: 32px;
}

.hero-price {
    text-decoration: line-through;
    margin-left: 20px;
}

.hero-img {
    width: 50%;
}

.hero-img img {
    height: 95vh;
}

.hero-btn,
.btn-hero {
    padding: 12px 30px;
    margin: 50px 10px 0 0;
}

.hero-btn {
    background: inherit;
    color: #207dff;
    border: 1px solid #207dff;
}

.btn-hero {
    background: #207dff;
    color: white;
    border: 1px solid #207dff;
}

@media(max-width:768px) {
    .hero-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: ;
    }
}